.sidebar{
    height:100vh;
}
.sidebar-button{    
    width: 25px;
}
.open-panel {
    width: 20%;
    overflow:hidden;
    transition: 2ms;
}
.close-panel {
    width: 0px;
    min-width: 0px;
    overflow:unset;
    transition: 2ms;
}
.expand-panel{
    width: 99.5%;
    transition: 2ms;
}
.collapse-panel{
    width: 95.5%;
    transition: 2ms;
}
.page-section {
    border: solid 1px #ccc;
    padding: .25rem;
    background-color: #fff;
}
